syntax: glob
*.config
*.bak
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
*.suo
*.user
*.webinfo
[Bb]in
*/[Bb]in
[Oo]bj
*/[Oo]bj
*.[Bb][Aa][Kk]
*.~??
*[Tt][Mm][Pp]
.~*
*.~*
[Rr]elease
*/[Rr]elease
[Dd]ebug
*/[Dd]ebug
[Aa]nkh.[Ll]oad
*/_ReSharper*
_ReSharper*
*resharper*
*.[Cc]ache
*.StyleCop
*.ReSharper
*.ncb
*.resharper.user
*.orig
_bin/*
_tests/*.dll
_tests/*.pdb
_tests/*.xml
_tests/*.config
_tests/*.txt
buildlog.txt
TestResult.xml
*[Pp]ublish.xml
Thumbs.db
build.log
**/packages/*.*
*/log.txt
*/log*.txt
.packages/**
**/.vs
**/.vs/**