syntax: glob
# Visual Studio & .NET project files
*.config
*.suo
*.user
*.webinfo
*.ncb
*.orig
buildlog.txt
build.log
TestResult.xml
*.publish.xml
Thumbs.db

# Build output directories
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/

# ReSharper files
_ReSharper*/
*.ReSharper
*.resharper.user
*resharper*

# Cache and logs
*.cache
*.StyleCop
*.log
log*.txt
**/*.db
**/*.db-journal

# Packages
**/packages/*
.packages/**

# VS specific
.vs/
.vs/**

# Temporary files
*.bak
*.tmp
*.~??
*.rej
*~
