<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="Northwind" connectionString="Server=127.0.0.1;Port=3306;Database=dev.northwind;Uid=root;Pwd=Jc,,,ktfnm1!;charset=utf8;AutoEnlist=false;" providerName="MySql.Data.MySqlClient" />
    <add name="NorthwindSqlLite" connectionString="data source=northwind.sqlite" providerName="System.Data.SQLite"/>
  </connectionStrings>

  <!--system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.4" />
    </DbProviderFactories>
  </system.data-->
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <remove invariant="System.Data.SQLite"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>

</configuration>